@import url("https://fonts.googleapis.com/css?family=Abel|Playfair+Display:400,700");
/*-- =Common_Styles -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

* a, * a:visited {
  text-decoration: none !important;
  color: #cddc39 !important;
  -webkit-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s; }

* a:hover, * a:active {
  text-decoration: none !important;
  color: #FD5B03 !important; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center; }

body {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 400;
  background: #3c3741;
  color: #fffff7; }
  body p {
    font-family: "Abel", sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0; }
  body .h1, body h1, body .h2, body h2, body .h3, body h3, body .h4, body h4, body .h5, body h5, body .h6, body h6 {
    margin: 0;
    padding: 0; }

.box-shadow-1 {
  box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5); }

.text-shadow-1 {
  text-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5); }

.sec-header {
  font-size: 3em;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  opacity: 0.1;
  padding: 1.5em 0; }

.colored-container {
  background: #799413;
  margin-bottom: 3em;
  padding: 2em; }

.btn-full {
  display: block;
  padding: 0.5em 0;
  text-align: center;
  background: #799413;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700; }

/*-- =Top_Navigation_Menu -- */
.navbar-default {
  background: #3c3741;
  border: none;
  border-radius: 0; }

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top; }
  .navbar .navbar-nav li a {
    text-transform: uppercase;
    color: #cddc39;
    font-size: 1.3em; }

.navbar .navbar-collapse {
  text-align: center; }

/*-- =Hero_Section -- */
#hero {
  min-height: 100vh;
  text-align: center;
  background-color: #3c3741;
  background-image: url(../img/BG.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed; }
  #hero h1 {
    font-size: 3.5em;
    font-weight: 700;
    color: #fffff7; }

/*-- =About_Section -- */
#about {
  min-height: 100vh; }
  #about h3, #about h4 {
    font-weight: 700; }
  #about h3 {
    margin-bottom: 1em; }
  #about h4 {
    margin-bottom: 0.3em; }

.about-left {
  text-align: right; }

.about-right {
  text-align: left; }

.single-skill {
  margin-bottom: 1em; }

/*-- =Portfolio_Section -- */
.project {
  margin-bottom: 2em; }
  .project h2 {
    font-weight: 700;
    margin-bottom: 0.3em; }
  .project ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.3em; }
    .project ul li {
      display: inline;
      font-weight: 700;
      font-size: 1.5em;
      margin-right: 1em; }
  .project p {
    margin-bottom: 0.3em;
    text-align: justify; }
  .project a {
    font-size: 2em;
    font-weight: 700; }

.open-source {
  margin-bottom: 3em; }
  .open-source .btn-full {
    padding: 1em 0; }

/*-- =Quotation_Section -- */
.quote-container {
  position: relative;
  padding: 5em 10em; }
  .quote-container .q-mark {
    position: absolute;
    color: #fffff7;
    font-size: 7em;
    opacity: 0.1; }
  .quote-container .q-left {
    top: -10px;
    left: 25px; }
  .quote-container .q-right {
    bottom: -10px;
    right: 25px; }
  .quote-container h4 {
    font-weight: 700;
    margin-top: 0.5em; }
    .quote-container h4 span {
      font-weight: 400;
      font-size: 0.8em; }

/*-- =Contact_Section -- */
#contact input, #contact textarea {
  border: none;
  background: none;
  border-radius: 0;
  box-shadow: none;
  color: #fffff7;
  font-family: "Abel", sans-serif;
  font-size: 1.5em; }
#contact ::-webkit-input-placeholder {
  color: #fffff7;
  opacity: 0.5; }
#contact ::-moz-placeholder {
  color: #fffff7;
  opacity: 0.5; }
#contact :-ms-input-placeholder {
  color: #fffff7;
  opacity: 0.5; }
#contact ::placeholder {
  color: #fffff7;
  opacity: 0.5; }
#contact .send {
  width: 100%;
  background: #799413;
  color: #fffff7;
  border-radius: 0;
  padding: 0.5em 0;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  margin-bottom: 3em; }

/*# sourceMappingURL=style.css.map */