/*=============================================
  ____  _____ _______        _     _
 |  _ \|  __ \__   __|      | |   (_)
 | |_) | |  | | | | ___  ___| |__  _  ___  ___
 |  _ <| |  | | | |/ _ \/ __| '_ \| |/ _ \/ __|
 | |_) | |__| | | |  __/ (__| | | | |  __/\__ \
 |____/|_____/  |_|\___|\___|_| |_|_|\___||___/

 !------- We Convert IDEAS into REALITY ------!

 =============================================*/

@import 'https://fonts.googleapis.com/css?family=Arima+Madurai|Bungee+Inline';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    color: #3D8EB9;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

* a:hover,
* a:active,
* a:focus,
* a:visited
{
    color: #71BA51;
    text-decoration: none;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
}

body {
    color: #E7E7E7;
    background: #3C3741;
    font-size: 1.5em;
    font-style: normal;
    font-family: 'Arima Madurai', cursive;
}

.form-group textarea:focus,
.form-group input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    box-shadow: none;
  outline: 0 none;
}


/*
=navigation-menu
==============*/

.navbar-default {
    background: #3C3741;
    border: none;
    border-bottom: 1px dashed rgba(231,231,231,0.1);
}

.navbar-default .navbar-brand {
    font-family: 'Bungee Inline', cursive;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #E7E7E7;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:focus {
    color: #71BA51;
}

/*
=landing
======*/
.landing {
    min-height: 90vh;
    text-align: center;
}

.landing img {
    margin: 0 auto;
    max-width: 120px;
}

.skills {
    padding: 1em 0 2em 0;
    color: #3C3741;
    border-top: 1px dashed rgba(60,55,65, 0.5);
    text-align: center;
    background: #E7E7E7;
}

.skills p {
    margin: 2em 0 0 0;
}

.skills .devicon {
    font-size: 6em;
}

.skills .fa,
.skills .devicon {
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.skills .fa-heart:hover {
    color: #C82647;
}

.skills .devicon-html5-plain:hover {
    color: #E44D26;
}

.skills .devicon-css3-plain:hover {
    color: #1572B6;
}

.skills .devicon-javascript-plain:hover {
    color: #F0DB4F;
}

.skills .devicon-php-plain:hover {
    color: #6181B6;
}

.skills .devicon-java-plain:hover {
    color: #EA2D2E;
}

.skills .devicon-bootstrap-plain:hover {
    color: #5B4282;
}

.skills .devicon-laravel-plain:hover {
    color: #FD4F31;
}

.skills .devicon-wordpress-plain:hover {
    color: #494949;
}

#contact {
    padding: 1em 0;
    border-top: 1px dashed rgba(231,231,231, 0.5);
}

.form-group input,
.form-group textarea
{
    color: #E7E7E7;
    border: none;
    padding: 0.6em;
    font-size: 1.2em;
    border-radius: 0;
    background: none;
    border: 2px solid rgba(231,231,231,0.5);
}

form .btn {
    width: 100%;
    border: none;
    border-radius: 0;
    font-size: 1.2em;
    background: rgba(231,231,231,0.5);
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.form .btn:hover {
    background: #E7E7E7;
}

.social {
    margin-top: 1.5em;
    padding: 1em 0;
    background: #E7E7E7;    
    color: #3C3741;
    border-top: 1px dashed rgba(60,55,65, 0.5);
    border-bottom: 1px dashed rgba(60,55,65, 0.5);
}

.social-link {
    text-align: center;
    font-size: 3em;
}

.social-link .fa {
    color: #3C3741;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.social-link .fa-facebook:hover {
    color: #46629E;
}

.social-link .fa-twitter:hover {
    color: #1DA1F2;
}

.social-link .fa-github:hover {
    color: #191919;
}

.social-link .fa-codepen:hover {
    color: #191919;
}

.footer p {
    margin: 0;
    padding: 1em;
    text-align: center;
}


/*
=mobile-friendly
==============*/
@media(max-width:767px){
    .navbar-default .navbar-toggle {
        border: none;
        border-radius: 0;
    }
    
    .navbar-default .navbar-toggle:hover {
        background: none;
    }
}