/*=============================================
  ____  _____ _______        _     _           
 |  _ \|  __ \__   __|      | |   (_)          
 | |_) | |  | | | | ___  ___| |__  _  ___  ___ 
 |  _ <| |  | | | |/ _ \/ __| '_ \| |/ _ \/ __|
 | |_) | |__| | | |  __/ (__| | | | |  __/\__ \
 |____/|_____/  |_|\___|\___|_| |_|_|\___||___/
 
 !------- We Convert IDEAS into REALITY ------!

 =============================================*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lobster Two', cursive;
}

* a {
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

* a:hover {
    text-decoration: none;
}

* a:visited {
    text-decoration: none;
    color: darkorange;
}

* a:active {
    text-decoration: none;
    color: orange;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    min-height: 90vh;
}

.title {
    margin: 0;
    padding: 0.3em 0;
}

.btop,
.bbot {
    padding: 0 5em;
}

.btop {
    border-top: 1px solid #bbb;
}

.bbot {
    border-bottom: 1px solid #bbb;
}

body {
    font-family: 'Abel', sans-serif;
    font-size: 1.6em;
}

body p {
    font-size: 1.1em;
}

.main {
    background: url(../img/background.jpg);
    text-transform: uppercase;
}

#about {
    padding: 1em 0;
}

#about h3,
p {
    margin: 0;
    padding: 0;
}

#about img {
    margin-right: 1em;
    border-radius: 50%;
}

.about {
    background: url(../img/drawing-pad.jpg);
}

.main,
.about {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
    color: #22313F;
    text-shadow: 0px 1px 1px rgba(150, 150, 150, 1);
}

#title {
    font-family: 'Fredericka the Great', cursive;
    font-size: 2.8em;
    margin: 0;
}


/*
=portfolio
========*/

.info {
    padding: 1em;
}

.tag {
    font-weight: bold;
}

.footer {
    position: absolute;
    background-color: none;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    padding: 1em 0;
}

.footer ul {
    list-style: none;
    display: inline;
}

.footer ul li {
    display: inline;
    margin-right: .5em;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer li a {
    color: #22313F;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer-nav li a:hover {
    color: #D35400;
}

.footer .fa-facebook,
.footer .fa-twitter,
.footer .fa-google-plus,
.footer .fa-github {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.footer .fa-facebook:hover {
    color: #46629E;
}

.footer .fa-twitter:hover {
    color: #1DA1F2;
}

.footer .fa-google-plus:hover {
    color: #DC4A3D;
}

.footer .fa-github:hover {
    color: #333333;
}

@media screen and (max-width: 240px) {
    .social {
        display: none !important;
    }
    .footer .container {
        text-align: center !important;
    }
}