
@import url('https://fonts.googleapis.com/css?family=Abel|Playfair+Display:400,700')

$bg: #3c3741
$gr: #799413
$lg: #cddc39
$wh: #fffff7
$or: #FD5B03

/*-- =Common_Styles --*/
*
  margin: 0
  padding: 0
  box-sizing: border-box

* a, * a:visited
  text-decoration: none !important
  color: $lg !important
  transition: all ease-in-out 0.3s
* a:hover, * a:active
  text-decoration: none !important
  color: $or !important

.flex
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center

body
  font-family: 'Playfair Display', serif
  font-style: normal
  font-weight: 400
  background: $bg
  color: $wh
  p
    font-family: 'Abel', sans-serif
    font-size: 1.5em
    margin: 0
    padding: 0
  .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6
    margin: 0
    padding: 0

.box-shadow-1
  box-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5)
.text-shadow-1
  text-shadow: 0px 4px 40px 3px rgba(0, 0, 0, 0.5)

.sec-header
  font-size: 3em
  font-weight: 700
  text-align: center
  text-transform: uppercase
  letter-spacing: 0.2em
  opacity: 0.1
  padding: 1.5em 0

.colored-container
  background: $gr
  margin-bottom: 3em
  padding: 2em

.btn-full
  display: block
  padding: 0.5em 0
  text-align: center
  background: $gr
  font-size: 1.5em
  text-transform: uppercase
  font-weight: 700


/*-- =Top_Navigation_Menu --*/
.navbar-default
  background: $bg
  border: none
  border-radius: 0

.navbar .navbar-nav
  display: inline-block
  float: none
  vertical-align: top
  li
    a
      text-transform: uppercase
      color: $lg
      font-size: 1.3em

.navbar .navbar-collapse
  text-align: center

/*-- =Hero_Section --*/
#hero
  min-height: 100vh
  text-align: center
  background-color: $bg
  background-image: url(../img/BG.jpg)
  background-repeat: no-repeat
  background-position: center center
  background-size: cover
  background-attachment: fixed
  h1
    font-size: 3.5em
    font-weight: 700
    color: $wh


/*-- =About_Section --*/
#about
  min-height: 100vh
  h3, h4
    font-weight: 700
  h3
    margin-bottom: 1em
  h4
    margin-bottom: 0.3em
.about-left
  text-align: right
.about-right
  text-align: left
.single-skill
  margin-bottom: 1em

/*-- =Portfolio_Section --*/
.project
  margin-bottom: 2em
  h2
    font-weight: 700
    margin-bottom: 0.3em
  ul
    list-style: none
    margin: 0
    padding: 0
    margin-bottom: 0.3em
    li
      display: inline
      font-weight: 700
      font-size: 1.5em
      margin-right: 1em
  p
    margin-bottom: 0.3em
    text-align: justify
  a
    font-size: 2em
    font-weight: 700

.open-source
  margin-bottom: 3em
  .btn-full
    padding: 1em 0

/*-- =Quotation_Section --*/
.quote-container
  position: relative
  padding: 5em 10em
  .q-mark
    position: absolute
    color: $wh
    font-size: 7em
    opacity: 0.1
  .q-left
    top: -10px
    left: 25px
  .q-right
    bottom: -10px
    right: 25px
  h4
    font-weight: 700
    margin-top: 0.5em
    span
      font-weight: 400
      font-size: 0.8em
